### 함수
    1. 함수 정의 기본 문법

In [4]:
# 1. 위치매개변수
# 가장 기본적인 인자값 전달방식, 함수에서 정의한 위치대로 인자값이 할당
def calc(num1, num2):
    '''
    인자값으로 받은 num1, num2
    2개의 값을 더해서 result 로컬변수에 할당
    그 값을 리턴하는 기능을 구현
    '''
    result = num1+num2
    return result

print(calc(3,5))

8

In [5]:
calc?? # 함수에 대한 소스코드가 보인다.

In [11]:
# 리턴값이 없는 경우
def add(a,b):
    print('%d와 %d의 합은 %d 입니다.'%(a,b,(a+b)))
    '''
    return문 자체가 없으면 함수는 None객체를 리턴한다
    '''
    
add(4,5)

4와 5의 합은 9 입니다.

In [16]:
# 2. 기본매개변수
# 변수값을 입력하지 않으면 기본값이 활성화됨
# 기본매개변수는 반드시 일반매개변수 뒤에 나와야 한다.
def calc(end, start=0):
    total = 0
    for i in range(start, end):
        total += i
    return total

print(calc(5,1))
print(calc(5)) # 에러나지 않는다 :: 기본값이 활성화 되어 돌아감

10
10

In [20]:
import pandas as pd
from pandas import DataFrame

pd.read_csv?

In [18]:
# 키워드 매개변수 사용 예
import numpy as np
import pandas as pd
from pandas import DataFrame
df1 = DataFrame(np.random.randn(4,4),
                index=list('abcd'),
                columns=list('efgh'))
df1

          e         f         g         h
a -0.735795 -0.659573 -1.519520 -1.292826
b -1.025389 -0.552728 -0.786348  0.224038
c -0.060672 -1.117379  1.668555 -1.793223
d -1.183348 -0.770678  0.163694 -0.795882

In [26]:
# 4. 가변 매개변수 : 인자값이 몇개인지 모르는 상황에서 사용
# 파이썬에서 print()함수가 대표적. 원하는 만큼 인자값을 받을 수 있도록 작성
# 일반매개변수와 다르게 변수명 앞에 *을 붙임
# 역시 가변매개변수 뒤에 일반매개변수가 뒤에 올 수 없다.

def calc3(*args):
    print(args)

calc3(3)
calc3(3,4) # 출력은 튜플 타입

(3,)
(3, 4)

In [34]:
# 5. 
def calc4(**args):
    print(args)
# calc4(1,2) -- 에러발생
'''
** 일시
반드시 인자값 입력시 주의를 요한다
=> 딕셔너리 타입
'''
calc4(name="James",age=44,addr="NY")

{'name': 'James', 'age': 44, 'addr': 'NY'}

In [36]:
# 일반 매개변수와 가변매개변수를 함께 사용하는 경우
def calc5(name, *args):
    print(name, ":", args)
calc5('james',3,5,6)

james : (3, 5, 6)

### 문제1
#### 가변매개변수와 일반매개변수를 함께 사용
    3
    6
    9
    가 출력되도록

In [37]:
def value_times(times,*values):
    for value in values
        print(times * value)
value_times(3,1,2,3,4,5,6,7)

SyntaxError: invalid syntax (<ipython-input-37-4a1d7f7dc1c5>, line 2)