### 데이타 그룹 연산  -  groupby
    통계자료에서 많이 사용한다.
    그룹핑 시켜서 합을 도출하거나 평균 구하거나 등등..

In [3]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import matplotlib.pyplot as plt

In [4]:
df = DataFrame({
    'Gender':['Female','Male','Female','Male','Female','Male','Female','Female'],
    'Smoking':['Smoker','Smoker','Smoker','Non-Smoker','Non-Smoker','Non-Smoker','Non-Smoker','Smoker'],
    'Gold':np.random.randint(1,10,8),
    'Silver':np.random.randint(1,10,8)
})

df

   Gender     Smoking  Gold  Silver
0  Female      Smoker     4       4
1    Male      Smoker     4       8
2  Female      Smoker     4       6
3    Male  Non-Smoker     4       4
4  Female  Non-Smoker     2       9
5    Male  Non-Smoker     3       5
6  Female  Non-Smoker     4       7
7  Female      Smoker     7       4

### 다시 한번 짚어보기!!
    1. unique()
       중복된 것은 걸러버리고 중복되지 않은값만 데이타가 중복되어 있을때 
       unique해서 고유한 값만 찾아내고 다른 값들은 버려버릴때 많이 쓴다. 
       SQL에서 DISTINCT와 동일한 기능 LIST를 SET으로 변경한후 다시 LIST로 만드는 
       것과 동일
       
    2. describe()
        describe() 함수는 데이타에 대한 간력한 설명
        간략한 통계를 내준다.
        숫자로서 가능한 데이타만 나온다.
        하위 25%, 상위 25%
        4분위할 때 쓰는 부분이다.
        데이타 성격을 알고 싶을때 많이 사용한다.
        
    3. sum() 은 숫자 데이타에만 적용됨
    4. count()는 값의 갯수..
    
    5. value_counts()
       해당 컬럼에서 그 값이 몇번 나왔는지를 확인할때 사용한다.
       빈도수 확인할때 사용됨
       
    6.apply()
      판다스에서 내가 만들어서 적용시킬수 있는 함수기능
      판다스에서 제공해주지 않는 함수를 내가 만들어서
      적용할때 많이 사용한다.
      df['C'].apply(add)..인자값으로 함수이름

    7. 컬럼확인 | 인덱스 확인 | 컬럼명 수정
       디비에서 데이타를 가져오거나
       웹에서 데이타를 가져올때
       내가 원하는 이름을 컬럼명을 바꾸고 싶을때가 있다.
       컬럼명 수정은 빈번하게 진행된다.